@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0 auto;
}
#map {
    margin: 30px 10px 0px 10px;
    height: 500px;
    width: 500px;
}
.wrapper{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bar{
    border-radius: 10px;
    box-shadow: 5px 0px 10px 5px rgba(34, 60, 80, 0.1);
    width: 20%;
    margin: 30px 10px 0px 10px;
    display: flex;
    align-items: center;
    height: 500px;
    text-align: center;
    background-color: #f5f5f5;
}